/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';
// @import './utils/list';
// @import './components/about-us-section';
@import './base/normalize' ;
@import './utils/ustils_styles' ;

@import './utils/varriables' ;
@import './components/site_nav_styles';
@import './components/_hero_styles' ;
@import './components/about_me_section' ;
@import './components/skills_styles' ;
@import './components/portfolio_styles' ;