@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html, body {
  /* Убирает прокрутку по горизонтале, для мобильной версии */
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: auto;
    padding-right: 200px;
    padding-left: 200px;
  }
}

h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

.list {
  list-style: none;
  padding: 0px;
}

.link {
  text-decoration: none;
  color: #828282;
  font-family: Khula, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 767px) {
  .link {
    font-family: Khula, sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.is-open {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .is-hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    cursor: none;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 90px;
  }
  header .site-nav {
    padding-top: 33px;
  }
  header .site-nav .line {
    position: relative;
    top: 32px;
    max-width: 100%;
    height: 2px;
    background-color: #828282;
  }
  header .language-notification {
    position: absolute;
    top: 157px;
    right: 155px;
    transform: rotate(90deg);
    font-family: Khula, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  header .language-notification .ru-color-mod {
    color: #828282;
  }
}
@media screen and (max-width: 767px) {
  header {
    position: relative;
  }
  header .js-menu-button {
    position: absolute;
    top: 68px;
    right: 60px;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  header .js-menu-button svg {
    background-size: contain;
    width: 33px;
    height: 20px;
    fill: currentColor;
  }
  header .site-nav {
    min-width: 375px;
    min-height: 812px;
    border: 2px solid rgba(130, 130, 130, 0.1);
    border-top: none;
  }
  header .language-notification {
    position: absolute;
    bottom: 57px;
    right: 28px;
    transform: rotate(90deg);
    font-family: Khula, sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
  }
  header .language-notification .ru-color-mod {
    color: #828282;
  }
}

.menu .link {
  transition: color 500ms linear;
}
.menu .link:hover {
  color: #070707;
}
.menu .link:focus {
  color: #070707;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    margin: 0;
    margin-left: 26px;
    display: flex;
    flex-direction: column;
  }
  .menu .menu-item:first-child {
    margin-top: 66px;
  }
  .menu .menu-item:nth-child(-n+4) {
    margin-bottom: 68px;
  }
}

.js-menu-button {
  transition: color 500ms linear;
}
.js-menu-button:hover {
  color: #19ABE5;
}
.js-menu-button:focus {
  color: #19ABE5;
}
@media screen and (min-width: 768px) {
  .js-menu-button {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .hero-title {
    padding-top: 70px;
    font-size: 47px;
    line-height: 58px;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    margin-top: 40px;
    font-size: 47.3392px;
    line-height: 59px;
  }
}

.specialization {
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 767px) {
  .specialization {
    margin-top: 25px;
  }
}
@media screen and (min-width: 768px) {
  .specialization {
    position: absolute;
    top: 15%;
    left: 45%;
  }
}

@media screen and (max-width: 767px) {
  .box {
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

.about-me {
  background-color: #f6f6f6;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .about-me {
    margin-top: 85px;
  }
}
@media screen and (min-width: 768px) {
  .about-me {
    margin-top: 105px;
  }
}

@media screen and (max-width: 767px) {
  .about-me-box h2 {
    padding-top: 80px;
  }
  .about-me-box:last-child {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 768px) {
  .about-me-box h2 {
    padding-top: 120px;
  }
  .about-me-box :last-child {
    padding-bottom: 90px;
  }
}
.about-me-box p {
  margin-top: 30px;
}

.skills-section {
  margin-top: 90px;
}
.skills-section .skills-title {
  font-family: Khula, sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}
.skills-section .skills-description {
  font-family: Khula, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 50px;
}
.skills-section .skills-list {
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .skills-section .skills-list {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) {
  .skil-item > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .skil-item > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 81px;
  }
}

@media screen and (min-width: 768px) {
  .skills-list li {
    margin-right: 90px;
  }

  .skills-list:last-child {
    margin-right: 0px;
  }
}
.main-skill-icon {
  width: 89px;
  height: 89px;
}

.star {
  width: 26px;
  height: 26px;
}

.white-star {
  fill: #e5e5e5;
}

.name-programm {
  font-family: Khula, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin-top: 25px;
}

.stars-block {
  margin-top: 41px;
}

.portfolio-section {
  background-color: #f6f6f6;
  padding-bottom: 80px;
}

.portfolio-title {
  font-family: Khula, sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-top: 112px;
  padding-top: 80px;
}

.portfolio-list {
  margin-top: 47px;
}
.portfolio-list li:not(:first-child) {
  margin-top: 100px;
}

.portfolio-link {
  transition: color 500ms linear;
  display: block;
  margin-top: 45px;
  font-family: Khula, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  color: #070707;
}
.portfolio-link:hover {
  color: #19ABE5;
}
.portfolio-link:focus {
  color: #19ABE5;
}

@media screen and (min-width: 768px) {
  footer {
    margin-bottom: 123px;
  }
}
@media screen and (max-width: 767px) {
  footer {
    margin-bottom: 80px;
  }
}

address {
  display: flex;
  justify-content: center;
}

.footer-title {
  text-align: center;
  font-family: Khula, sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
}
@media screen and (min-width: 768px) {
  .footer-title {
    margin-top: 210px;
  }
}
@media screen and (max-width: 767px) {
  .footer-title {
    margin-top: 82px;
  }
}

.call {
  text-align: center;
  font-family: Khula, sans-serif;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .call {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .call {
    margin-top: 27px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .button-container {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .button-container {
    margin-top: 40px;
  }
}

.footer-button {
  transition: color 500ms linear;
  transition: background-color 500ms linear;
  text-align: center;
  color: #ffffff;
  background-color: #070707;
  border-radius: 50px;
  font-family: Khula, sans-serif;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.footer-button:hover {
  color: #070707;
  background-color: #ffffff;
}
.footer-button:focus {
  color: #070707;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-button {
    width: 180px;
    height: 42px;
  }
}
@media screen and (max-width: 767px) {
  .footer-button {
    width: 316px;
    height: 42px;
  }
}

.list-contacts {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .list-contacts {
    margin-top: 80px;
    width: 35vw;
  }
}
@media screen and (max-width: 767px) {
  .list-contacts {
    margin-top: 48px;
    width: 100vw;
  }
}
.list-contacts svg {
  width: 40px;
  height: 40px;
}

.contacts-item .link {
  transition: fill 500ms linear;
}
.contacts-item .link:hover {
  fill: #F042DE;
}
.contacts-item .link:focus {
  fill: #F042DE;
}

.like-me-to {
  text-align: center;
  margin-top: 48px;
  color: #828282;
}
@media screen and (min-width: 768px) {
  .like-me-to {
    font-family: Khula, sans-serif;
    font-size: 17px;
    line-height: 14px;
  }
}
@media screen and (max-width: 767px) {
  .like-me-to {
    font-family: Khula, sans-serif;
    font-size: 18px;
    line-height: 22px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */