
html, body {
    /* Убирает прокрутку по горизонтале, для мобильной версии */
    overflow-x: hidden;
}
.container{
    @media screen and(max-width:767px){
        min-width: 440px;
        padding-right: 30px;
    padding-left: 30px;
    }
    // background-size: contain;
    // max-width:768px;
    
    @media screen and (min-width: 768px) {
        width: auto; ;
        padding-right: 200px;
    padding-left: 200px;
    
    }
}
h1,
h2,
p{
    margin:0px;
    padding:0px;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
    color:#828282;
    font-family: Khula, sans-serif ;
    font-weight: 600;
font-size: 18px;
line-height: 22px;
@media screen and(max-width: 767px) {
    font-family: Khula, sans-serif;
    font-weight: 700;
font-size: 34px;
line-height: 42px;
    
}
}



.is-open{
    visibility: visible;
      opacity: 1;
}
.is-hidden{
    @media screen and(max-width:767px){
        display: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    cursor: none;
    }
    
}

