<footer class="section-footer container">
    <h2 class="footer-title">Contacts</h2>
    <p class="call">
        Want to know more or just chat?</br> 
        You are welcome!  
    </p>
    <div class="button-container">
        <button class="footer-button" type="button">Send message</button>
    </div>
    <address>
        <ul class="list-contacts list">
            <li class="contacts-item">
               <a class="link"  href="#">
                <svg class="main-skill-icon">
                    <use   href='/images/svg/sprite.svg#icon-linkedin-logo'></use>
                </svg>
               </a>
            </li>
            <li class="contacts-item">
                <a class="link" href="#">
                    <svg class="main-skill-icon">
                        <use   href='/images/svg/sprite.svg#icon-inst-logo'></use>
                    </svg>
                </a>
            </li>
            <li class="contacts-item">
                <a class="link" href="#">
                    <svg class="main-skill-icon">
                        <use   href='/images/svg/sprite.svg#icon-behance-logo'></use>
                    </svg>
                </a>
            </li>
            <li class="contacts-item">
              <a class="link" href="#">
                <svg class="main-skill-icon">
                    <use   href='/images/svg/sprite.svg#icon-dribble-logo'></use>
                </svg>
              </a>
            </li>
        </ul>
    </address>
    <p class="like-me-to">Like me on</br>
        LinkedIn, Instagram, Behance, Dribble</p>
</footer>
