<section class="portfolio-section container">
    <h1 class="portfolio-title">Portfolio</h1>
    <ul class="list portfolio-list">
        <li>
            <div class="portfolio-box">
            <picture>
              <source
                srcset="/images/jpg/mob/portfol-mob-1.jpg"
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 316px, 100vw"
              />
          
              <source
                srcset="/images/jpg/desk/portfol-desk-1.jpg"
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 936px, 100vw"
              />
             
          
              <img
                src="/images/jpg/mob/portfol-mob-1.jpg"
                alt="fashion store "
              />
            </picture>
            <a class="link portfolio-link" href="#">Online fashion store - Homepage</a>
          </div>
        </li>
        <li>
            <div class="portfolio-box">
                <picture>
                  <source
                    srcset="/images/jpg/mob/portfol-mob-2.jpg"
                    media="(max-width: 767px)"
                    sizes="(max-width: 767px) 316px, 100vw"
                  />
              
                  <source
                    srcset="/images/jpg/desk/portfol-desk-2.jpg"
                    media="(min-width: 768px)"
                    sizes="(min-width: 768px) 936px, 100vw"
                  />
                 
              
                  <img
                    src="/images/jpg/mob/portfol-mob-2.jpg"
                    alt="Reebok Concept "
                  />
                </picture>
                <a class="link portfolio-link" href="#">Reebok Store - Concept</a>
              </div>
        </li>
        <li>
            <div class="portfolio-box">
                <picture>
                  <source
                    srcset="/images/jpg/mob/portfol-mob-3.jpg"
                    media="(max-width: 767px)"
                    sizes="(max-width: 767px) 316px, 100vw"
                  />
              
                  <source
                    srcset="/images/jpg/desk/portfol-desk-3.jpg"
                    media="(min-width: 768px)"
                    sizes="(min-width: 768px) 936px, 100vw"
                  />
                 
              
                  <img
                    src="/images/jpg/mob/portfol-mob-3.jpg"
                    alt="Braun Landing Page"
                  />
                </picture>
                <a class="link portfolio-link" href="#">Braun Landing Page - Concept</a>
              </div>
          
        </li>
    </ul>
</section>