<section class="skills-section container">
    <h2 class="skills-title">Skills</h2>
    <p class="skills-description">I work in such programs as</p>
    <ul class="skills-list list"
        <li  class="skil-item
        ">
        <div>
            <svg class="main-skill-icon" >
                <use href='/images/svg/sprite.svg#icon-p-shop-logo'></use>
            </svg>
            <p>Adobe Photoshop</p>
            <div class="stars-block">
                <svg class="star" ><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                <svg class="star"><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                <svg class="star"><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                <svg class="star"><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                <svg class="star"><use class=" white-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
            </div>
        </div>
    </li>
        <li class="skil-item
        ">
           <div>
            <svg class="main-skill-icon">
                <use   href='/images/svg/sprite.svg#icon-adobe-illustrator-logo'></use>>
            </svg>
                <p>Adobe Illustrator</p>
                <div class="stars-block">
                    <svg class="star" ><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                    <svg class="star"><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                    <svg class="star"><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                    <svg class="star"><use class=" white-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                    <svg class="star"><use class=" white-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                </div>
                
           </div>
            </li>
        <li class="skil-item
        ">
        <div>
            <svg class="main-skill-icon"><use   href='/images/svg/sprite.svg#icon-adobe-aft-eff-logo'></use>>
            </svg>
            <p>Adobe After Effects</p>
            <div class="stars-block">
                <svg class="star" ><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                <svg class="star"><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                <svg class="star"><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                <svg class="star"><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                <svg class="star"><use class=" white-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
            </div>
        </div>
            </li>
        <li class="skil-item
        ">
        <div>
            <svg class="main-skill-icon"><use   href='/images/svg/sprite.svg#icon-figma-logo'></use
                ></svg>
                <p>Figma</p>
                <div class="stars-block">
                    <svg class="star" ><use class="star black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                    <svg class="star"><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                    <svg class="star"><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                    <svg class="star"><use class=" black-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                    <svg class="star"><use class=" white-star" href='/images/svg/sprite.svg#icon-star'></use></svg>
                </div>
        </div>
        </li>
    </ul>
</section>