// ! ! ! Стиллизация секции!! ! !

.about-me{
    background-color: #f6f6f6;
    text-align: center;
    // margin-bottom: 150px;

    @media screen and(max-width: 767px){
        margin-top: 85px;

    }
    @media screen and(min-width: 768px){
         margin-top: 105px;
    }
}





// Стиллизыция бокса с текстомю...!....!.....!


.about-me-box{
    @media screen and(max-width: 767px){
        // min-width: 316px;
        h2{
            padding-top: 80px;
        }
        &:last-child{
            padding-bottom: 80px;
        }

    }
    @media screen and(min-width: 768px){
        // min-width: 485px;
        h2{
            padding-top: 120px;
        }
        :last-child{
            padding-bottom: 90px;
        }
    }
   
    p{
        margin-top: 30px;
    }
    
   
}

// .about-me-box{

// }
