.portfolio-section{
    background-color: #f6f6f6;
    padding-bottom: 80px;
}
.portfolio-title{
    font-family: Khula, sans-serif;
    font-weight: 700;
font-size: 34px;
line-height: 42px;

text-align: center;
margin-top: 112px;
padding-top: 80px;
}

.portfolio-list{
    margin-top: 47px;
   
    li{
        &:not(:first-child){
            margin-top: 100px;
        }
    }
}

.portfolio-link{
    transition: color 500ms linear ;
    &:hover{
        color: #19ABE5
    }
    &:focus{
        color: #19ABE5
    }

    display: block;
    margin-top: 45px;

    font-family: Khula, sans-serif;
    font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;

    text-decoration: underline;
    color: #070707
}