
header{
    @media screen and(min-width: 768px)  {
        height: 90px;
        .site-nav{
            padding-top: 33px;
            .line{
                position: relative;
                top: 32px;
                max-width: 100%;
                height: 2px;
                background-color: #828282;
            }
           
        }
        .language-notification{
            position: absolute;
            top: 157px;
            right: 155px;
            transform: rotate(90deg);
        
           font-family: Khula, sans-serif;
           font-weight: 700;
          font-size: 16px;
           line-height: 20px;
        .ru-color-mod{
        color:#828282;
               }
        }
        
    }

    @media screen and(max-width:767px){
        position: relative;
        .js-menu-button{
            position: absolute;
            top: 68px;
            right: 60px;
           background-color: white;
           border: none;
           cursor: pointer;
            svg{
              background-size: contain;
              width: 33px;
              height: 20px;  
              fill:currentColor ;
            
            }
           
        }

      .site-nav{ 
           min-width: 375px;
        min-height: 812px;
        border: 2px solid  rgba(130,130,130, 0.1);
        border-top: none;
        
      }
     

      .language-notification{
         position: absolute;
         bottom: 57px;
         right: 28px;
         transform: rotate(90deg);

        font-family: Khula, sans-serif;
        font-weight: 700;
       font-size: 34px;
        line-height: 42px;
    .ru-color-mod{
    color:#828282;
            }
    }
}
}


       


.menu{
    @media screen and(min-width: 768px)  {
        display: flex;
        justify-content: space-around;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        
        
       

    }
    @media screen and(max-width:767px){
        margin: 0;
        display: flex;
        flex-direction: column;
      .menu-item{
          &:first-child{
              margin-top: 66px;
          }
          &:nth-child(-n+4){
              margin-bottom: 68px;
          }
      }
    }
}
.js-menu-button{
    @media screen and(min-width: 768px)  {
        visibility: hidden;
        opacity: 0;
    }
}














